<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Kezdőoldal</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore illum eaque assumenda nostrum adipisci repellat doloribus voluptatum atque iure harum. Porro tenetur consequuntur cupiditate deleniti iste hic a dolorum velit.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, vel architecto? Exercitationem esse harum quis debitis. Quidem nobis ratione, ea debitis libero architecto. Illo voluptate hic repellat a ad eveniet?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex magni veniam dolores. Eaque voluptates eos ad et asperiores nobis quia provident ex eligendi voluptatum, nulla, similique iure tenetur numquam quasi!</p>
</body>
</html>